#square {
  position: absolute;
  background: lightblue;
  text-align: center;
  width: 150px;
  height: 100px;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  color: white;
}

#close-square {
  padding: 0.2em;
  float: right;
  cursor: pointer;
  font-family: arial;
}
